.menu {
    position: relative;
    display: flex;
    transition: background-color 0.3s;
    z-index: 3;
}

.menu--open {
    background-color: #2B303E;
}

.menu__logo {
    height: 40px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    opacity: 0;
}

.menu__logo--shown {
    opacity: 1;
}

.burger {
    padding: 10px;
}

.burger__line {
    width: 40px;
    height: 5px;
    border-radius: 2px;
    background-color: white;
    margin-bottom: 6px;
    transition: transform 0.3s, background-color 0.3s;
}

.burger__line--X1 {
    transform: rotate(45deg) translate(8px, 8px);
}

.burger__line--X2 {
    transform: rotate(-45deg) translate(-1px, 0px)
}

.burger__line--hide {
    transform: scale(0);
}

.menu-links {
    background-color: #2B303E;
    height: calc(100vh - 52px);
    width: 100vw;
    position: fixed;
    top: 52px;
    left: 0;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 3;
}

.menu-links--open {
    transform: scaleX(1);
}

.menu-links__li {
    width: 100%;
    border-bottom: 1px solid white;
}

.menu-links__a {
    font-family: Lato;
    display: block;
    color: white;
    font-size: 24px;
    padding: 20px;
    text-decoration: none;
    transition: transform 0.3s, color;
}

.menu-links__a:hover {
    transform: translate(20px, 0);
    color: #FFE8CE;
}

@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }
}