body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    flex-grow: 1;
}

.logo img {
    height: 50px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.banner {
    background-image: url("../Assets/Background/wtsite.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
}

.quote {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.quote h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.quote p {
    font-size: 20px;
    font-style: italic;
}

/* Content */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.container .headline {
    font-size: 48px;
    text-align: center;
}

.container .content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.container .left {
    flex: 1;
    padding-right: 20px;
}

.container .right {
    flex: 1;
    padding-left: 20px;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

.container p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.container .image-holder {
    transform: skew(-20deg);
    overflow: hidden;
}

.container img {
    max-width: 100%;
    display: block;
    width: 100%;
    transform: skew(20deg);
}

.container .video-headline {
    font-size: 36px;
    margin-top: 50px;
}

.container .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%;
}

.container .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .container .video {
        padding-bottom: 75%; /* 4:3 aspect ratio */
    }
}

.scroll-anim__title,
.scroll-anim__text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.scroll-anim__title.show,
.scroll-anim__text.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes scroll-anim {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.separator-holder {
    margin-top: 20px;
    text-align: center;
}

img.separator {
    transform: none;
    display: inline-block;
    height: 30px;
    width: auto;
}


/* Footer */

.footer {
    background-color: #272424;
    color: #fff;
    padding: 40px 0 0;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo img {
    transform: none;
    max-width: 200px;
    height: auto;
    display: block;
    margin-left: -12px;
}

.footer__content p {
    max-width: 600px;
    margin-bottom: 20px;
}

.footer__socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.footer__socials li {
    margin-left: 20px;
}

.footer__socials li:first-child {
    margin-left: 0;
}

.footer__socials a {
    color: #fff;
    font-size: 24px;
}

.footer__bottom {
    background-color: #222;
    padding: 20px 0;
    font-size: 14px;
}

.footer__bottom p {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.footer__bottom ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.footer__bottom li {
    margin-left: 20px;
}

.footer__bottom li:first-child {
    margin-left: 0;
}

.footer__bottom a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__bottom a:hover {
    color: #ccc;
}